body {
  background-color: azure;
}
.calculator {
  width: 400px;
  justify-content: space-between;
  font-size: 0px;
}
.calculator {
  border: solid black 1px;
}
.orange-button {
  background-color: #df974c;
  color: #ffffff;
}
.grey-button {
  background-color:#d8d9db;
  color: #000000;
}
.black-box {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
  font-size: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.orange-button:hover {
  background-color: #dfb07e;
}
.grey-button:hover {
  background-color: #ebebeb;
}
.orange-button:active {
  background-color: #dd8d37;
}
.grey-button:active {
  background-color: #bbbcbe;
}
button {
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 40px;
}
.grey-button.arrow {
  width: 100px;
}
.grey-button.special-char {
  width: 200px;
}
.grey-button.long-char {
  width: 300px;
}
button {
  border: solid black 1px;
}
